aiofiles
aiogram~=3.20.0.post0
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
et_xmlfile
frozenlist
idna
magic-filter
multidict
numpy
openpyxl
pandas
phonenumbers
propcache
pydantic~=2.11.3
pydantic_core
python-dateutil
python-dotenv~=1.0.1
pytz
six
typing-inspection
typing_extensions
tzdata
yarl
logging~=0.4.9.6
pathlib~=1.0.1
pydantic-settings
loguru~=0.7.3
uvicorn~=0.34.3
fastapi~=0.115.13
starlette
dotenv~=0.9.9
peewee~=3.17.9
groq~=0.28.0