aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
et_xmlfile
frozenlist
idna
magic-filter
multidict
numpy
openpyxl
pandas
phonenumbers
propcache
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
six
typing-inspection
typing_extensions
tzdata
yarl
logging
pathlib
pydantic-settings
loguru
uvicorn
fastapi
starlette
dotenv
peewee
groq