<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель оператора</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
<div class="chat-container">
    <header class="chat-header">
        <div class="header-content">
            <h1>eHukumat</h1>
        </div>
    </header>
    <div class="chat-box" id="chat-box">
        <div class="message user-message">
            <p>Здравствуйте! У меня вопрос по поводу доставки.</p>
            <span class="timestamp">14:25</span>
        </div>
        <div class="message operator-message">
            <p>Добрый день! Слушаю вас.</p>
            <span class="timestamp">14:26</span>
        </div>
    </div>

    <footer class="chat-footer">
        <input type="text" id="message-input" placeholder="Введите ваше сообщение...">
        <button id="send-button">Отправить</button>
    </footer>


</div>


</body>

</html>